.Person {
    font-size: 10px;
    padding: 30px;
    color: yellowgreen;
    width: 30%;
    margin: 40px auto;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    align-self: center;
}

@media (min-width:500px) {
    .Person {
        width: 450px;
    }
}